/* nunito-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v26-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/nunito-v26-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/nunito-v26-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Nunito', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-weight: 400px;
  font-size: 16px;
  color: var(--dark);
  background-color: var(--light);
  line-height: 1.4;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2,
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
  --offser-container: 14px;
  max-width: calc(1300px + 2 * var(--offser-container));
  padding: 0 var(--offser-container);
  margin: 0 auto;
}

:root {
	--white: #fff;
	--beige: #c1ab91;
	--dark: #2c2826;
	--orange: #ff8a00;
	--light: #fbf3e8;
}

.svg-sprite {
  display: none;
}

.loader {
  position: fixed;
  z-index: 50;
  inset: 0;
  background: rgba(44, 40, 38, 0.89);
}

.loader__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid var(--dark);
  border-top-color: var(--orange);
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* header */
.header {
  position: absolute;
  top: 24px;
  z-index: 5;
  left: 0;
  right: 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.header__logo {
  width: 120px;
}
.header__cart {
  color: var(--dark);
}
.header__cart:hover {
  color: var(--orange);
}

/* hero */
.hero {
  padding-top: 80px;
  padding-bottom: 212px;
  position: relative;
  background: linear-gradient(47deg, #eb8a14 0%, #ecd55a 100%);
  border-radius: 0 0 16px 16px;
  margin-bottom: 43px;
}
.hero__container {
  max-width: 300px;
}
.hero__container:after {
  content: '';
  position: absolute;
  bottom: -43px;
  right: calc(var(--offser-container) + 7px);
  width: calc(100vw / (320 / 261));
  height: calc(100vw / (320 / 230));
  max-width: 382px;
  max-height: 337px;
  background-image: url("../img/cheese_slice_of_pizza.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.hero__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 1;
  color: var(--dark);
  margin-bottom: 12px;
}
.hero__tagline {
  font-size: 14px;
  color: var(--dark);
  margin-bottom: 24px;
  padding-left: 32px;
  background-image: url("../img/delivery-pizza.svg");
  background-repeat: no-repeat;
  background-position: left;
}
.hero__order {
  border-radius: 32px;
  padding: 8px 24px;
  width: 135px;
  height: 44px;
  background: var(--light);
  font-weight: 600;
  font-size: 14px;
  color: var(--orange);
}

/* toppings */
.toppings {
  padding: 24px 0;
}
.container {
}
.toppings__title {
  position: fixed;
  transform: scale(0);
}
.toppings__button {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  gap: 4px;
  align-items: center;
}
.toppings__arrow {
  transition: transform .3s ease;
}
.toppings__button_active .toppings__arrow {
  transform: scaleY(-1);
}
.toppings__list {
  display: none;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease;
}
.toppings__list_show {
  display: flex;
}
.toppings__item {
}
.toppings__label {
  display: block;
  border-radius: 32px;
  padding: 8px 24px;
  font-size: 14px;
  color: var(--beige);
  background-color: var(--white);
  border: 1px solid transparent;
  cursor: pointer;
}
.toppings__label:hover {
  color: var(--orange);
  border-color: #ecd55a;
}
.toppings__checkbox {
  position: absolute;
  appearance: none;
}
.toppings__checkbox:focus-visible+.toppings__label {
  background-color: var(--white);
  border-color: var(--orange);
  color: var(--orange);
}
.toppings__checkbox:checked+.toppings__label {
  background-color: var(--orange);
  color: var(--light);
}

/* pizza */
.pizza {
  padding: 24px 0;
}
.pizza__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 1;
  color: var(--dark);
  margin-bottom: 24px;
}
.pizza__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 12px;
}
.pizza__item {
  display: flex;
  flex-direction: column;
}
.pizza__reset-toppings {
  border-radius: 32px;
  padding: 8px 24px;
  background-color: var(--orange);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  border: 1px solid transparent;
}
.pizza__reset-toppings:focus-visible {
  background-color: var(--white);
  color: var(--orange);
  border-color: var(--orange);
}
.pizza__reset-toppings:hover {
  background-color: var(--white);
  color: var(--orange);
}
.pizza__card {
  position: relative;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
}
.card__content {
  background-color: var(--white);
  padding: 48px 8px 8px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card__title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--dark);
  margin-bottom: 4px;
  flex-grow: 1;
}
.card__info {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: var(--beige);
  margin-bottom: 16px;
}
.card__price {
  font-weight: 600;
  color: var(--dark);
}
.card__btn {
  width: 100%;
  font-size: 14px;
  color: var(--orange);
  padding: 8px 24px;
  background-color: var(--light);
  border-radius: 32px;
}
/* footer */
.footer {
}
.container {
}
.footer__logo {
}
.footer__copyright {
}
.footer__developers {
}
.footer__item {
}
.footer__developer {
}

/* modal */
.modal {
  position: fixed;
  z-index: 45;
  inset: 0;
  background: rgba(44, 40, 38, 0.89);
  cursor: pointer;
  padding: 30px 14px;
  display: none;
  overflow-y: auto;
}
.modal__main {
  position: relative;
  cursor: default;
  padding: 16px;
  background-color: var(--white);
  border-radius: 32px;
  margin: auto;
}
.modal__close {
  position: absolute;
  top: 25px;
  right: 25px;
}
.modal-pizza__main {
  max-width: 292px;
  width: 100%;
  padding: 24px 16px 16px;
}
.modal-pizza__img {
  width: 180px;
  margin: 0 auto 12px;
}
.modal-pizza__title {
  font-weight: 600;
  font-size: 18px;
  color: var(--dark);
  margin-bottom: 4px;
}
.modal-pizza__toppings {
  font-size: 14px;
  margin-bottom: 4px;
}
.modal-pizza__info {
  display: flex;
  gap: 4px;
  font-size: 14px;
  color: var(--beige);
  margin-bottom: 20px;
}
.modal-pizza__price {
  font-weight: 6000;
  color: var(--dark);
}
.modal-pizza__group-fieldset {
  margin-bottom: 20px;
}
.modal-pizza__fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  gap: 7px;
  justify-content: space-between;
  margin-bottom: 8px;
}
.modal-pizza__fieldset:last-child {
  margin-bottom: 0;
}
.modal-pizza__radio {
  position: absolute;
  appearance: none;
}
.modal-pizza__radio:focus-visible+.modal-pizza__label {
  background-color: var(--orange);
  border-color: #b66200;
  color: var(--light);
}
.modal-pizza__radio:checked+.modal-pizza__label {
  background-color: var(--light);
  color: var(--orange);
}
.modal-pizza__radio:checked+.modal-pizza__label:hover {
  color: var(--orange);
  background-color: var(--beige);
}
.modal-pizza__label {
  display: block;
  background-color: transparent;
  border-radius: 32px;
  padding: 8px 24px;
  font-size: 14px;
  color: var(--beige);
  border: 1px solid transparent;
  cursor: pointer;
}
.modal-pizza__label:hover {
  background-color: var(--beige);
  color: var(--white);
}
.modal-pizza__add-cart {
  display: block;
  width: 100%;
  font-size: 14px;
  color: var(--white);
  padding: 8px 24px;
  line-height: 1.4;
  background-color: var(--orange);
  border-radius: 32px;
}
.modal-pizza__add-cart:disabled {
  opacity: .6;
}

@media (width >= 620px) {
  .container {
    --offset-container: 40px;
  }
  .header {
    top: 40px;
  }
  .header__logo {
    width: 164px;
  }
  .hero {
    padding: 116px 0 90px;
    border-radius: 0 0 32px 32px;
    margin-bottom: 60px;
  }
  .hero__container {
    max-width: 544px;
  }
  .hero__title {
    font-size: 64px;
    margin-bottom: 24px;
  }
  .hero__tagline {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .hero__order {
    font-size: 20px;
  }
  .hero__container:after {
    bottom: -60px;
    right: calc(var(--offser-container) + 10px);
  }
  .toppings {
    padding: 32px 0;
  }
  .toppings__button {
    font-size: 24px;
  }
  .toppings__label {
    font-size: 20px;
  }
  .pizza {
    padding: 64px 0;
  }
  .pizza__title {
    font-size: 44px;
  }
  .pizza__list {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
  }
  .pizza__card {
    padding-top: 46px;
  }
  .card__img {
    width: 180px;
  }
  .card__content {
    padding: 146px 24px 24px;
    border-radius: 32px;
  }
  .card__title {
    font-size: 24px;
  }
  .card__info {
    gap: 8px;
    font-size: 24px;
    margin-bottom: 24px;
  }
  .card__btn {
    font-size: 20px;
  }
  .modal-pizza__main {
    max-width: 368px;
  }
  .modal-pizza__title {
    font-size: 20px;
  }
  .modal-pizza__toppings {
    font-size: 20px;
  }
  .modal-pizza__info {
    font-size: 20px;
    gap: 8px;
  }
  .modal-pizza__label {
    font-size: 16px;
  }
  .modal-pizza__add-cart {
    font-size: 20px;
  }
}

@media (width >= 840px) {
  .hero {
    padding: 126px 0 80px;
    margin-bottom: 82px;
  }
  .hero__container:after {
    bottom: -82px;
    right: calc(var(--offser-container) - 7px);
    max-width: 566px;
    max-height: 499px;
  }
  .toppings__button {
    display: none;
  }
  .toppings__title {
    position: static;
    transform: none;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
  }
  .toppings__list {
    display: flex;
    max-height: none;
  }
  .pizza__reset-toppings {
    font-size: 20px;
  }
}

@media (width >= 1140px) {
  .container {
    --offset-container: 70px;
  }
  .hero {
    padding: 140px 0 100px;
    margin-bottom: 87px;
  }
  .hero__container {
    max-width: 620px;
  }
  .hero__container:after {
    bottom: -87px;
    right: calc(var(--offser-container) + 30px);
    max-width: 670px;
    max-height: 591px;
  }
  .hero__title {
    font-size: 80px;
  }
  .hero__tagline {
    margin-bottom: 64px;
  }
  .pizza__list {
    gap: 20px;
  }
}

